/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

#logged-in {
    position: absolute;
    right: 50px;
    color: white;
}

main {
    padding: 2rem;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-card *:not(:first-child), 
.review-card *:not(:first-child ){
    margin-left: 20px;
    padding: 10px;
}

ol {
    padding-left: 40px;
}

.review-card {
    font-weight: bold;
}


.review-card p {
    font-weight: normal;
}

.message {
    padding-left: 40px;
    font-weight: normal;
    font-size: medium;
    font-style: italic;
}

.btn-link {
    display: inline-block;
    padding: 5px 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

.btn-link:hover {
    background-color: #2980b9;
}

section {
    padding: 10px;
}

footer {
    text-align: center;
    font-style: italic;
    bottom: 0;
    width: 100%;
    font-size: small;
}

#review-form * {
    display: block;
}

#review-form .btn-link{
    margin-top: 30px;

}



#review-form #review,
#review-form #rating {
    margin-left: 30px;
}

